# Graphics

This file creates graphic outputs of descriptive statistics for each neighborhood and tract.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
master = pd.read_csv('../inputs/master.csv', index_col = False)
master

,id,date,available,price,minimum_nights,room_type,census_tract,census_NBH
0,3781,2023-03-19,f,125.0,32.0,Entire home/apt,512.0,East Boston
1,3781,2023-03-20,f,125.0,32.0,Entire home/apt,512.0,East Boston
2,3781,2023-03-21,f,125.0,32.0,Entire home/apt,512.0,East Boston
3,3781,2023-03-22,f,125.0,32.0,Entire home/apt,512.0,East Boston
4,3781,2023-03-23,f,125.0,32.0,Entire home/apt,512.0,East Boston
...,...,...,...,...,...,...,...,...
1410018,2021483,2024-03-13,f,500.0,1.0,Entire home/apt,608.0,South Boston
1410019,2021483,2024-03-14,f,500.0,1.0,Entire home/apt,608.0,South Boston
1410020,2021483,2024-03-15,f,500.0,1.0,Entire home/apt,608.0,South Boston
1410021,2021483,2024-03-16,f,500.0,1.0,Entire home/apt,608.0,South Boston
1410022,2021483,2024-03-17,f,500.0,1.0,Entire home/apt,608.0,South Boston

## Vacancy

In [34]:
master['vacant'] = np.where(master['available'] == 't', 1, 0)   # 1 = vacant
master['vacant'].value_counts()                                 # 0 = booked

sum = master['vacant'].value_counts().sum()
sum

1410023

## Room Types

## Rental Length